In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',5)

In [3]:
df=pd.read_csv('data.csv',encoding='shift-jis')
df

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
0          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
1          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
937       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
938       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [4]:
df.index = df.index + 1
df

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [5]:
df[0:3]

   都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2        2   青森県  大正    9.0  1920.0   756454   381293   375161
3        3   岩手県  大正    9.0  1920.0   845540   421069   424471

In [6]:
df[:3]

   都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1        1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2        2   青森県  大正    9.0  1920.0   756454   381293   375161
3        3   岩手県  大正    9.0  1920.0   845540   421069   424471

In [7]:
df[9:14]

    都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
10       10   群馬県  大正    9.0  1920.0  1052610   514106   538504
11       11   埼玉県  大正    9.0  1920.0  1319533   641161   678372
12       12   千葉県  大正    9.0  1920.0  1336155   656968   679187
13       13   東京都  大正    9.0  1920.0  3699428  1952989  1746439
14       14  神奈川県  大正    9.0  1920.0  1323390   689751   633639

In [8]:
df[100:105]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）   人口（男）   人口（女）
101        7   福島県  昭和    5.0  1930.0  1508150  742342  765808
102        8   茨城県  昭和    5.0  1930.0  1487097  734059  753038
103        9   栃木県  昭和    5.0  1930.0  1141737  562839  578898
104       10   群馬県  昭和    5.0  1930.0  1186080  581007  605073
105       11   埼玉県  昭和    5.0  1930.0  1459172  718779  740393

In [9]:
df['人口（総数）'][:5]

1    2359183
2     756454
3     845540
4     961768
5     898537
Name: 人口（総数）, dtype: int64

In [10]:
df[['人口（総数）']][:5]

    人口（総数）
1  2359183
2   756454
3   845540
4   961768
5   898537

In [11]:
df[['都道府県名','人口（総数）']][:5]

  都道府県名   人口（総数）
1   北海道  2359183
2   青森県   756454
3   岩手県   845540
4   宮城県   961768
5   秋田県   898537

In [12]:
df['西暦（年）']==2015

1      False
2      False
       ...
938     True
939     True
Name: 西暦（年）, Length: 939, dtype: bool

In [13]:
df[df['西暦（年）']==2015]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
893        1   北海道  平成   27.0  2015.0  5381733  2537089  2844644
894        2   青森県  平成   27.0  2015.0  1308265   614694   693571
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[47 rows x 8 columns]

In [14]:
df[df['都道府県名']=='東京都']

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    人口（総数）    人口（男）    人口（女）
13        13   東京都  大正    9.0  1920.0   3699428  1952989  1746439
60        13   東京都  大正   14.0  1925.0   4485144  2387609  2097535
..       ...   ...  ..    ...     ...       ...      ...      ...
858       13   東京都  平成   22.0  2010.0  13159388  6512110  6647278
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

[20 rows x 8 columns]

In [15]:
df['西暦（年）']%10==0

1       True
2       True
       ...
938    False
939    False
Name: 西暦（年）, Length: 939, dtype: bool

In [16]:
df[df['西暦（年）']%10==0]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
1          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
891       46  鹿児島県  平成   22.0  2010.0  1706242   796896   909346
892       47   沖縄県  平成   22.0  2010.0  1392818   683328   709490

[470 rows x 8 columns]

In [17]:
df[df['西暦（年）']%10!=0]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
48         1   北海道  大正   14.0  1925.0  2498679  1305473  1193206
49         2   青森県  大正   14.0  1925.0   812977   408770   404207
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[469 rows x 8 columns]

In [18]:
df[(df['西暦（年）']==2015)&(df['都道府県名']=='東京都')]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）    人口（総数）    人口（男）    人口（女）
905       13   東京都  平成   27.0  2015.0  13515271  6666690  6848581

In [19]:
df[(df['西暦（年）']==2010)|(df['西暦（年）']==2015)]

     都道府県コード 都道府県名  元号  和暦（年）   西暦（年）   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[94 rows x 8 columns]

In [20]:
df = df.rename(columns={'西暦（年）':'year'})
df

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
1          1   北海道  大正    9.0  1920.0  2359183  1244322  1114861
2          2   青森県  大正    9.0  1920.0   756454   381293   375161
..       ...   ...  ..    ...     ...      ...      ...      ...
938       46  鹿児島県  平成   27.0  2015.0  1648177   773061   875116
939       47   沖縄県  平成   27.0  2015.0  1433566   704619   728947

[939 rows x 8 columns]

In [21]:
df.query('year == 2010')

     都道府県コード 都道府県名  元号  和暦（年）    year   人口（総数）    人口（男）    人口（女）
846        1   北海道  平成   22.0  2010.0  5506419  2603345  2903074
847        2   青森県  平成   22.0  2010.0  1373339   646141   727198
..       ...   ...  ..    ...     ...      ...      ...      ...
891       46  鹿児島県  平成   22.0  2010.0  1706242   796896   909346
892       47   沖縄県  平成   22.0  2010.0  1392818   683328   709490

[47 rows x 8 columns]